.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navBar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    background-color: darkgrey;
}
#navBar a {
    color: yellow;
    text-decoration: none;
    margin-right: 10px;
}
header {
    font-family: "Bell MT";
}
body {
    background-color: lightgrey;
}
p {
    font-size: 20px;
}
table {
    margin-right: auto;
    margin-left: auto;
}


footer {
    text-align:center
}