.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navBar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    background-color: darkgrey;
}
#navBar a {
    color: yellow;
    text-decoration: none;
    margin-right: 10px;
}
header {
    font-family: "Bell MT";
}
body {
    background-color: lightgrey;
}
.rarepara {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.RareLinks {
    font-size: 40px;
}
.RarePhotos {
    margin-left: auto;
    margin-right: auto;
}
.RarePhotos {
    border-style: solid;
    border-color: rebeccapurple;
    background-color: black;
    border-width: 10px;
}
.bearbrick {
    padding: 20px;
}
.Kaws {
    padding: 20px;
}
.Supreme {
    padding: 20px;
}
button {
    font-size: 25px;
    font-family: "Times New Roman";
    color: rebeccapurple;
    background-color: black;
}
#promo {
    text-align: center;
}

footer {
    text-align:center
}